# Entornos virtuales
bioinfo/
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo

# Resultados grandes / temporales
data/raw/
data/tmp/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# SO / editores
.DS_Store
.vscode/
.idea/

# Archivos de configuración local
*.swp
